.splash {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .access-token {
    margin-bottom: 30px;
    width: 70% !important;
  }
  
  .loginButton {
    height: 50px;
    width: 170px;
    color: white;
    background-color: #4386fc;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 10vh;
  }
  
  .dev-login > .logo > img {
    padding-bottom: 40px;
  }
  
  .dev-login > button {
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 170px;
    font-weight: 600;
    vertical-align: bottom;
  }
  
  .dev-login > button:hover {
    color: white;
  }
  
  .loginButton:hover {
    background-color: #245dc1;
    cursor: pointer;
  }
