.App {
  text-align: center;
}

.splash {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}


.loginButton {
  height: 50px;
  width: 170px;
  color: white;
  background-color: #4386fc;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 600;
  text-decoration: none;
  border-radius: 20px;
}
.loginButton:hover {
  background-color: #245dc1;
}

.home {
  text-align: center;
  vertical-align: middle;
  line-height: 50vh;
}